<div class="container">
  <div class="row">
    <div class="col-sm">
      One of four columns
    </div>
    <div class="col-sm">
      One of four columns
    </div>
    <div class="col-sm">
      One of four columns
    </div>
    <div class="col-sm">
      One of four columns
    </div>
  </div>
</div>