<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Comment Practice</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/"> 게시글 리스트</a>
            <a class="nav-item nav-link active" href="/user/index"> 회원 리스트 </a>
        </div>
    </div>
    
    <div class="text-right">
        <% unless session[:user_id] %>
            <a class="btn btn-outline-primary" href="/user/new"> 회원가입 </a>
            <a class="btn btn-primary" href="/user/login"> 로그인 </a>
        <% else %>
            <a class="btn btn-outline-danger" href="/user/logout"> 로그아웃 </a>
        <% end %>
    </div>
    
</nav>